<div class="game-container">
    <h1>{{title}}</h1>
    <table class="board-wrapper">
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let letter of letters">{{letter}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="column" *ngFor="let col of board[0]; index as i">
                <th>{{i+1}}</th>
                <td class="cell" *ngFor="let row of board; index as j" (click)="clickCell(i,j)"
                    [ngClass]="{'ship' :  board[i][j].includes('ship') ,'hit': board[i][j] === 'hit', 'miss' :  board[i][j] === 'miss', 'ship-start': board[i][j].includes('ship-start'),'ship-end': board[i][j].includes('ship-end'),'ship-one': board[i][j].includes('ship-one'), 'game-over':gameOver }">
                    <span *ngIf="board[i][j].includes('ship') || board[i][j].includes('hit')">ship</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="gameOver">
        <p>You won!!!!</p>
        <!-- <button (click)="startGame()">Restart Game</button> -->
    </div>
</div>