<div class="game-container">
    <h1>{{title}}</h1>
    <table class="board-wrapper">
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let letter of letters">{{letter}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="column" *ngFor="let col of board[0]; index as i">
                <th>{{i+1}}</th>
                <td class="cell" *ngFor="let row of board; index as j" (click)="clickCell(i,j)"
                    [ngClass]="{
                    'ship': board[i][j].value===1,
                    'hit':board[i][j].status == 'hit',
                    'miss':board[i][j].status == 'miss',
                    'hover':board[i][j].hover == true,
                    'game-over':gameOver,
                }" [ngStyle]="{
                    border: board[i][j].shipBorderLocation==='oneShip'? '3px solid #000':'',
                    borderInlineStart: board[i][j].shipBorderLocation==='start'? '3px solid #000':'',
                    borderInlineEnd: board[i][j].shipBorderLocation==='end'? '3px solid #000':'',
                }">
                    <span *ngIf="board[i][j].value===1">ship</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="gameOver">
        <p>You won!!!!</p>
        <!-- <button (click)="startGame()">Restart Game</button> -->
    </div>
</div>